    /* Reset some default styles */
    body, h1, h2, p, ul, li {
        margin: 0;
        padding: 0;
      }
  
      body {
        font-family: 'Arial', sans-serif;
        background-color: #394240;
        color: #fff;
      }
  
      .container {
        width: 80%;
        margin: 0 auto;
      }
  
      header {
        background-color: #2B363D;
        color: #fff;
        padding: 10px 0;
        text-align: center;
      }
  
      nav {
        background-color: #394240;
      }
  
      nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
      }
  
      nav li {
        display: inline;
        margin-right: 10px;
      }
  
      nav a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        padding: 5px 10px;
        border-radius: 3px;
        transition: background-color 0.3s ease;
      }
  
      nav a:hover {
        background-color: #2B363D;
      }
  
      section {
        margin: 20px 0;
      }
  
      .product {
        background-color: #485654;
        padding: 30px; /* Increased padding */
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        color: #fff;
        text-align: center;
      }
  
      .product img {
        width: 100%; /* 100% of the container */
        max-width: 300px; /* Maximum width */
        height: auto; /* Maintain aspect ratio */
        border-radius: 5px;
        margin-bottom: 20px;
      }
  
      .product h2 {
        color: #8F9779;
      }
  
      footer {
        background-color: #2B363D;
        color: #fff;
        padding: 10px 0;
        text-align: center;
      }
  
      /* Responsive design */
      @media only screen and (max-width: 600px) {
        header, nav, section, footer {
          padding: 10px;
        }
      }

      .uibutton {
        height: 1.5em;
        background-color: coral;
        border-radius: 8px;
        font-family: 'Arial', sans-serif;
        font-size: xx-large;
        color: white;
        text-align: center;
      }